<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="shopRedirect()">
        <ion-label>Keep Shopping</ion-label>
        <ion-icon name="pricetag"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item *ngFor="let item of items" [routerLink]="['./' ,item.id]">
      <ion-avatar slot="start">
        <ion-img [src]="item.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        {{item.name}}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-buttons>
    <ion-button (click)="checkoutRedirect()">
      <ion-label>Checkout</ion-label>
      <ion-icon name="pricetags"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-content>